.App {
  text-align: center;
  margin: auto;
  background-image: linear-gradient(pink,yellow);
  padding: 4rem;
  height: 100%;
}

.card{
  width: 40%;
  margin: auto;
  position: relative;
  background-color: rgb(14, 191, 223);
  background-size: cover;
  padding: 8rem;
  border-radius: 16px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}

.card button{
  display: block;
  margin: auto;
  margin-top: 0.5rem;
  padding: 0.8rem;
  background-color: blueviolet;
  color: antiquewhite;
  border-style: none;
  border-radius: 16px;
}

.card button:hover,
.card button:active{
  background-color: rgb(247, 21, 5);
  color: rgb(8, 5, 0);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.5);
}



